* {
  background-color: rgb(230, 169, 219);
  margin: 0;
  padding: 0;
}

/*==================================================MAIN=====================================================================================*/

.rules {
  padding-top: 10rem;
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}

/*==================================================GanYu=====================================================================================*/

.ganYu {
  display: block;
  height: 700px;
  padding-left: 10%;
}

/*=========================================================================GanYuVoice=======================================================*/

.GanYuVoice {
  font-size: 2em;
  color: rgb(177, 16, 226);
  border: 3px solid rgb(183, 46, 46);
  padding: 2%;
  border-radius: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
}

.buttonsLast {
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}

.buttonsLast a {
  text-decoration: none;
  text-align: center;
}

.ganYuButton {
  border: 4px solid #c84f4f;
  padding: 3%;
  border-radius: 15px;
  transition: 0.4s;
  cursor: pointer;
  font-weight: 700;
  color: #c84f4f;
  font-size: 1.2em;
}

.ganYuButton:hover {
  border: 4px solid rgb(124, 11, 11);
  color: #df396e;
  transform: scale(1.1);
}

/*==============================================================GanYuPoint==================================================================*/

.GanYuPoints .point {
  height: 100px;
  padding-left: 2%;
  opacity: 0.4;
}

.GanYuPoints .pointColor {
  height: 100px;
  padding-left: 2%;
  opacity: 0.4;
}

.GanYuPoints {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

/*===================================================================GITTEST====================================================================*/

.testTitle {
  font-size: 4em;
  color: #df396e;
  text-align: center;
  padding-top: 5%;
}

.testExp {
  color: #dc5516;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

/*====================================================================QUESTIONS==========================================================*/

.questions {
  color: #df396e;
  font-weight: bold;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
}

.answers {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  padding-left: 25%;
  padding-right: 25%;
}

.answerButton {
  outline: none;
  border: 3px solid rgb(183, 46, 46);
  padding: 1%;
  font-size: 1em;
  color: #d1652f;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s;
}

.answerButton:hover {
  font-size: 1.1em;
  color: #ff6200;
}

/*===============================================================GRATZ===================================================================*/

.gratzTitle {
  color: #df396e;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  padding-top: 5%;
}

.gratzExp {
  padding-top: 5%;
  color: #df396e;
  font-size: 2em;
  padding-left: 30%;
  padding-right: 30%;
}

.gratzResult {
  padding-top: 8%;
  text-align: center;
  color: #ff6200;
  font-weight: bold;
  font-size: 1.8em;
}

.resultNumber {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 8%;
  padding: 2%;
  text-align: center;
  color: #ff6200;
  font-weight: bold;
  font-size: 1.8em;
  border: 6px solid #de1818;
  border-radius: 15px;
}

/*========================================================RESPONSIVE==============================================================*/

@media (max-width: 1800px) {
  .buttons {
    padding-left: 5%;
    padding-right: 5%;
  }
  .ganYuButton {
    font-size: 1em;
  }
  .GanYuVoice {
    font-size: 1.5em;
  }
}

@media (max-width: 1670px) {
  .buttons {
    padding-left: 0%;
    padding-right: 0%;
  }
  .buttonsLast .ganYuButton {
    font-size: 0.8em;
  }
  .ganYuButton {
    font-size: 1em;
  }
  .GanYuVoice {
    font-size: 1.5em;
  }
}

@media (max-width: 1450px) {
  .buttons {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2em;
  }
  .buttonsLast {
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2em;
  }
  .ganYuButton {
    margin-top: 5%;
  }
  .ganYu {
    display: block;
    height: 500px;
    padding-left: 10%;
  }
  .GanYuVoice {
    font-size: 1.3em;
  }
  /*=====GITTEST*/
  .testTitle {
    font-size: 3.4em;
  }
  .testExp {
    font-size: 1.4em;
  }
  .questions {
    font-size: 1.4em;
  }
}

@media (max-width: 1140px) {
  .ganYu {
    height: 400px;
    padding-left: 5%;
  }
  /*===GITTEST*/

  .answers {
    padding-top: 7%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .GanYuPoints {
    padding-top: 10%;
    gap: 1%;
  }
}

@media (max-width: 1000px) {
  .ganYu {
    height: 400px;
    padding-left: 0;
    margin-right: 5%;
  }
  .rules {
    margin-left: 5%;
    padding-right: 3%;
  }
}
